@charset "UTF-8";
/* CSS Document */



body {
	background-image: url(web/uploads/images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #F2F2F2;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #000;
}
#content {
	height: 100%;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	float: none;
}
#shadow {
	float: left;
	height: 100%;
	width: 8px;
	padding-top: 40px;
}
#maincontent {
	float: left;
	height: 100%;
	width: 950px;
}
#logo {
	float: left;
	height: 77px;
	width: 950px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#header {
	float: left;
	height: 100%;
	width: 950px;
	text-align: center;
	padding-top: 60px;
}
#valoracio {
	float: left;
	height: 30px;
	width: 450px;
	margin-bottom: 20px;
	text-align: center;
	margin-right: 250px;
	margin-left: 250px;
	background-color: #666666;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	vertical-align: middle;
	margin-top: 20px;
}
#txt_valoracio {
	float: left;
	height: 30px;
	width: 350px;
	text-align: center;
	padding-top: 5px;
}
#button_valoracio {
	float: left;
	height: 35px;
	width: 100px;
	text-align: center;
}
#valoracio p {
	color: #FFF;
	padding: 0px;
	text-align: center;
	margin: 0px;
}
.buttonvaloracio {
	padding-top: 5px;
}
.starspaces {
	margin-left: 3px;
}
#divider {
	float: left;
	height: 10px;
	width: 400px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-right: 275px;
	margin-left: 275px;
	margin-bottom: 30px;
	
}
#maintext {
	float: left;
	height: 100%;
	width: 950px;
	background-color: #FFF;
}
h1 {
	font-size: 1em;
	margin-bottom: 5px;
}
h2 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
h3 {
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 0px;
	color: #999;
}
#text {
	float: left;
	height: 100%;
	width: 890px;
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
}
#sidebar {
	float: left;
	height: 100%;
	width: 170px;
	padding-top: 40px;
}
#menu {
	float: left;
	height: 100%;
	width: 130px;
	padding-right: 30px;
	padding-left: 10px;
}
#sidebar h1 {
	color: #999;
	font-weight: normal;
}
li {
	color: #999;
	font-size: 0.8em;
	list-style-type: none;
	margin-bottom: 5px;
	display: inline;
}
ul {
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#txtsidebar {
	float: left;
	height: 100%;
	width: 130px;
	margin-top: 20px;
	padding-right: 30px;
	padding-left: 10px;
}
#sidebar p {
	color: #999;
	text-align: left;
}
#draw {
	float: left;
	height: 100%;
	width: 170px;
	margin-top: 20px;
}
#footer {
	float: left;
	height: 100%;
	width: 500px;
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 20px;
}
#footer p {
	text-align: center;
	color: #999;
	font-size: 0.8em;
}
#text_left {
	float: left;
	height: 100%;
	width: 420px;
}
#text_right {
	float: left;
	height: 100%;
	width: 420px;
	margin-left: 50px;
}
#text_center {
	float: center;
	height: 100%;
	width: 840px;
	margin-left: 25px;
}
#MVM-overlay {
    background:transparent url(http://img40.xooimage.com/files/7/0/3/black-70-141fd7a.png) repeat left top;
    height:0;
    left: 0;
    position: fixed;
    top: 0;
    visibility:hidden;
    width: 100%;
    z-index: 9999;
    /* algunas propiedades que no funcionarán en IE */
    opacity: 0;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
  }
  /* el DIV que contiene la ventana modal en si misma */
  #MVM {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 10000;
  }
  /* un DIV interior de esa misma ventana */
  #MVM-inner { position: relative; }
  /* el DIV donde se mostrarán las cosas */
  #MVM-contenido {
    background-image: -moz-linear-gradient(100% 100% 90deg, rgba(100,100,100,.5),rgba(100,100,100,.5));
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(100,100,100,.5)), to(rgba(100,100,100,.5)));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#80646464', EndColorStr='#80646464');
    height: 100%;
    line-height: 0;
    padding: 20px;
    /* algunas propeidades que no funcionarán en versiones anteriores a IE9 */
    border-radius: 10px;
    box-shadow: 0 0 5px #FFF inset;
  }
  /* el botón para cerrar la ventana */
  #MVM-cerrar {
    background: transparent url(http://img73.xooimage.com/files/3/4/c/close-28e1d92.gif) no-repeat left top;
    height: 32px;
    opacity: 0.5;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 32px;
  }
  #MVM-cerrar:hover { opacity:1; }
