

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login</title>
<link href="{{asset('css/style_login.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content">
<div id="logo"><img src="{{asset('uploads/images/logo_vitaworke3.png')}}" width="221" height="95" alt="logo"/></div>
<form action="{{ path('login_check') }}" method="post">

<div id="inputs">
<input id="username" name="_username" type="text" placeholder="Usuari" value="{{ last_username }}"/>
<br>
<input id="password" type="password" name="_password"  placeholder="Contrassenya" value="" />
</div>
<div id="button">
<input class="button_orange" type="submit" name="login" value="Inicia sessió" />
</div>
{% if error %}
<div id="login-error">Usuari i/o contrassenya erronis</div>
{% endif %}
</form>
</div>

</div>
</body>
</html> 