<p>error</p>

<p>DIA A REALITZAR LA ACTIVITAT {{diaactivitat|date('Y-m-d')}}</p>
<p>AVUI {{ara|date('Y-m-d')}}</p>
<p>DIA A REALITZAR LA ACTIVITAT + INTERVAL {{diainterval|date('Y-m-d')}}</p>
<p>VALORACIO {{valoracio}}</p>