{% extends 'BackendBundle:Extranet:frontend.html.twig' %}
{% block title %}Template portada{% endblock %} 
{% block article %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non odio nec dolor aliquam elementum. Morbi molestie blandit dictum. Aliquam non velit ante, ac gravida tortor. Nulla sagittis gravida faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget pellentesque dui. Fusce cursus imperdiet elit ultricies semper.</p>
{% endblock %}
